div class="well"
  iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?uid=41001105348355&amp;default-sum=99&amp;targets=%D0%9F%D0%BE%D0%BC%D0%BE%D1%89%D1%8C+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%83&amp;target-visibility=on&amp;project-name=Spartan+Wars+Cave+Calculator&amp;project-site=http%3A%2F%2Fswcc.ru&amp;button-text=05&amp;hint=" width="450" height="131"